certifi==2024.2.2
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
distlib==0.3.8
filelock==3.14.0
Flask==2.0.1
Flask-Cors==3.0.8
gunicorn==20.1.0
idna==2.6
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
MarkupSafe==2.1.5
nltk==3.8.1
platformdirs==4.2.2
pycodestyle==2.6.0
regex==2024.5.15
requests==2.25.1
six==1.16.0
tqdm==4.66.4
urllib3==1.26.18
virtualenv==20.26.2
Werkzeug==3.0.3
