.sidebarSelect {
    display: flex;
    align-items: center;
    font-size: 12px;
    padding-left: 2px;
    cursor: pointer;
}

.sidebarSelect:hover {
    opacity: 0.9;
    background-color: #340e36;
}

.sidebarSelect_icon {
    padding: 10px;
    font-size: 15px !important;
}
.sidebarSelect_channel {
    padding: 10px 0;
}

.sidebarSelect_hash {
    padding: 10px;
}

.sidebarSelect > h {
    font-weight: 500;
}